<!-- <app-sum style="margin: 30px"></app-sum>

<app-test-request-get style="margin: 30px"></app-test-request-get>

<div style="margin: 30px">
  <ul>
    <li *ngFor="let animatronic of stringList; let i = index">
      {{animatronic}}
      <button (click)="removeFreddy(i)">remove</button>
    </li>
  </ul>

  <button (click)="pushFreddy()">push</button>
  <button (click)="unshiftFreddy()">unshift</button>
</div> -->
<div>
    @if(active){
    <app-action [(value)]="appCounter"></app-action>
    <app-square-flex [divWidth]="appCounter"></app-square-flex>
}
@else {
    <ng-template #elseTemplate> Activate now! </ng-template>
}
  <button (click)="activateToggle()">Activate</button>

</div>

<!-- 
<app-square-flex [divHeight]="divHeight" [divWidth]="divWidth"></app-square-flex>
<div>
    <button (click)="changeWidth(50)">50px</button>
    <button (click)="changeWidth(100)">100px</button>
    <button (click)="changeWidth(200)">200px</button>
</div>
<div>
    <button (click)="changeHeight(50)">50px</button>
    <button (click)="changeHeight(100)">100px</button>
    <button (click)="changeHeight(200)">200px</button>
</div>
<app-max-min-meter></app-max-min-meter> -->
